.boardContainer {
  background-image: url(../../img/brown-open-field-2305169.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}
.board {
  height: 91%;
  width: 90%;
  margin: auto;
  outline: 3px solid #111;
  background: #333;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  p {
    text-align: center;
  }

  span {
    font-size: 40px;
    text-align: center;
    margin: auto;
    vertical-align: bottom;
    display: block;
  }

  &__tile {
    padding: 8% 0;
    position: relative;
    min-height: fit-content;
    background: $lightBeige;
    background-image: url(../../img/dark-denim-3.png);
  }

  &__punish {
    color: $Red;
    background: $darkBeige;
    background-image: url(../../img/dark-denim-3.png);
  }

  &__center {
    grid-column: 2/8;
    grid-row: 2 / 6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-image: url(../../img/map.jpg);
  }

  &__player {
    position: absolute;
    left: 8%;
    top: 10%;
    img {
      display: block;
      margin: auto;
      width: 55%;
      height: auto;
      background-size: contain;
    }
  }
  &__dice {
    grid-row: 4;
    width: 150px;
    height: 100px;

    #canvasDice {
      position: relative;
      bottom: 30px;
      right: 100px;
    }
  }

  &__dice:hover {
    cursor: pointer;
  }
  &__playerMessage {
    grid-row: 4;
    color: $white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    right: 45%;
    bottom: -55%;
    width: fit-content;
    height: 30px;
  }
}
