//@import 'https://fonts.googleapis.com/css?family=Aladin|Open+Sans&display=swap';
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rokkitt:200&display=swap");

//Color Variables
$black: #000000;
$white: #ffffff;
$gold: #ffbe30;
$darkGold: #b37f10;
$lightBeige: #c7b299;
$darkBeige: #958573;
$Red: #d60000;
$Blue: #0000ff;

//Media Variables

$desktop: "only screen and (min-width: 960px) and (max-width: 1620px)";
$tablet: "only screen and (min-width: 720px) and (max-width: 1240px)";
$phone: "only screen and (max-width: 720px)";
